/* Font */
$font-family: Avenir, sans-serif;

/* Colours */
$primary-color-1: #323232;
$primary-color-2: #0065AD;
$primary-color-3: #FFFFFF;
$primary-color-4: #FAFAFA;
$primary-color-5: #AFAFAF;
$primary-color-6: #E1E1E1;

/* Breakpoints */
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1200px;

/* Padding */
$nav-pd-top: 1rem;
$wrapper-mobile: 0 1rem;
$wrapper-tablet: 0 1.5rem;
$wrapper-desktop: 0 10rem;

/* Margin */
$nav-margin: 3.5rem;
